.card-product {
  @include no-box-shadow();
  background: transparent;

  .card-image {
    @include no-box-shadow();
    margin: 0;

    a {
      @include no-box-shadow();

      img {
        @include no-box-shadow();
        @include border-radius(12px);
      }
    }
  }

  .content {

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: table;
    padding: 15px 5px 0;

    .card-title {
      display: table-header-group;
      color: #333333;
      font-family: $primary-font;
      font-size: 19px;
      font-weight: 300;
      line-height: 26px;
      text-align: left;
      padding: 0;
      margin: 0;
    }

    .category {
      color: #9A9A9A;
      font-family: $secondary-font;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      text-align: left;
      text-transform: none;
      margin: 15px 0 0;

      a {
        color: #9A9A9A;
      }
    }

    .footer {
      display: block;
      width: 100%;
      margin: 0;

      .price {
        display: inline-block;
        color: #333333;
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
      }

      .stats {
        display: inline-block;
        /* position here is based on relative on li.product */
        position: absolute;
        bottom: -9px;
        right: 10px;

        .tooltip {
          .tooltip-arrow {
            border-top-color: #e2e2e2;
          }
          .tooltip-inner {
            @include no-box-shadow();
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
          }
        }

        .hestia-view-cart-wrapper {
          .added_to_cart {
            @include no-box-shadow();
          }
        }
      }
    }
  }
}

.woocommerce.archive {

  .wrapper .main {
    background-color: #fff;

    .card-product {
      background-color: #fff;
    }
  }

  .products {

    .product {
      /* position here for cart icon on card-product */
      position: relative;

      > .card > .card-image {
        @include no-box-shadow();
      }
    }

    .product:hover > .card > .card-image {
      @include no-box-shadow();
      @include no-transform();
      opacity: .75;
    }

  }

  .blog-post .products li:nth-of-type(6n) .category a,
  .blog-post .products li:nth-of-type(6n+1) .category a,
  .blog-post .products li:nth-of-type(6n+2) .category a,
  .blog-post .products li:nth-of-type(6n+3) .category a,
  .blog-post .products li:nth-of-type(6n+4) .category a,
  .blog-post .products li:nth-of-type(6n+5) .category a {
    color: #9A9A9A !important;
  }


}