.contactus {

  font-family: inherit;

  .hestia-title {
    font-family: inherit;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
  }

  .description {
    font-family: inherit;
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
  }

  .card-contact {

    .card-title {
      font-weight: 300;
    }

    .pirate-forms-submit-button {
      font-weight: 600;
    }
  }
}