.hestia-features {

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 80px 0;

  .hestia-title {
    color: $color-secondary;
    font-family: inherit;
    font-size: 39px;
    font-weight: 300;
    line-height: 42px;
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
  }

  .description {
    color: #9A9A9A;
    font-family: inherit;
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 5px;
  }

  .hestia-info {

    text-align: center;
    padding: 30px 0 30px;
    margin: 0 auto;

    .info-title {
      color: $color-secondary;
      font-family: inherit;
      font-size: 23px;
      font-weight: 300;
      line-height:27px;
      margin: 15px 0;
    }

    p {
      color: #9A9A9A;
      font-family: inherit;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      margin: 0 0 5px;
    }

    .icon > i {
      font-size: 48px;
    }
  }

}
