.products {

  .hestia-title {
    color: #333333;
    font-family: $primary-font;
    font-size: 39px;
    font-weight: 300;
    line-height: 42px;
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
  }

  .description {
    color: #9A9A9A;
    font-family: $secondary-font;
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 5px;
  }

  .card-product {
    background-color: #f0f0f0;
  }

  .shop-item:hover > .card > .card-image {
    @include no-box-shadow();
    @include no-transform();
    opacity: .75;
  }

  .shop-item .card .card-image {
    @include no-box-shadow();

    a {
      @include no-box-shadow();

      img {
        @include no-box-shadow();
      }
    }
  }
}