section.products {

  .hestia-title {
    color: $color-secondary;
    font-family: inherit;
    font-size: 39px;
    font-weight: 300;
    line-height: 42px;
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
  }

  .description {
    color: #9A9A9A;
    font-family: inherit;
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 5px;
  }

  .card-product {
    background-color: #f0f0f0;

    .content .card-title {
      color: $color-secondary;
    }

    .content .footer .stats {
      .tooltip {
        .tooltip-arrow {
          border-top-color: #9A9A9A;
        }
        .tooltip-inner {
          @include no-box-shadow();
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          background-color: #f0f0f0;
          color: #9A9A9A;
        }
      }
    }
  }

  .shop-item:hover > .card > .card-image {
    @include no-box-shadow();
    @include no-transform();
    opacity: .75;
  }

  .shop-item .card .card-image {
    @include no-box-shadow();

    a {
      @include no-box-shadow();

      img {
        @include no-box-shadow();
      }
    }
  }
}