.subscribe-line {

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  .title {
    font-family: inherit;
    font-size: 39px;
    font-weight: 300;
    line-height: 42px;
  }

  .subscribe-description {
    font-family: inherit;
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 40px;
  }
}