@import "../0_base/mixins";

.hestia-team,
.team {

  .card {
    text-align: center;
    border-radius: 0;

    &-image {
      width: 120px;
      max-height: 120px;
      margin: -60px auto 0;
      @include border-radius(50%);

      img {
        @include border-radius(12px);
      }
    }

    .col-md-5, .col-md-7 {
      width: 100%;
    }

    .col-md-7 {
      padding-top: 20px;
    }

    .content {
      padding-top: 0;

      .card-title {
        margin: 5px 0 0;
      }

      .category {
        margin: 5px 0;
        font-weight: 600;
      }

      .card-description {
        margin-bottom: 5px;
        margin-top: 15px;
        text-align: center;
      }

      .footer {
        margin-left: -12px;
        margin-top: 0;
        padding-top: 35px;

        .btn.btn-just-icon {
          opacity: 0.8;
          padding: 8px;
        }
      }
    }
  }

}

