.title-logo-wrapper {

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

.navbar .navbar-collapse > .navbar-nav > li.menu-item {

  font-size: 12px;
  font-weight: 600;
  line-height: 19px;

  > a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
