.widget {

  color: $color-secondary;
  font-family: inherit;
  font-weight: 300;

  a {
    font-weight: inherit;
  }

  h5 {
    font-family: inherit;
    font-weight: 300;
  }

}

/* Blog and default pages sidebar */
aside {

  .widget {

    a {
      color: $color-secondary;
    }

    ul {
      padding: 0;
    }
  }
}