// Buttons
// Box shadow for each social network
@mixin buttons-box-shadow($color) {
  -webkit-box-shadow: 0 2px 2px 0 rgba($color,0.14), 0 3px 1px -2px rgba($color,0.2), 0 1px 5px 0 rgba($color,0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba($color,0.14), 0 3px 1px -2px rgba($color,0.2), 0 1px 5px 0 rgba($color,0.12);
  box-shadow: 0 2px 2px 0 rgba($color,0.14), 0 3px 1px -2px rgba($color,0.2), 0 1px 5px 0 rgba($color,0.12);

  &:hover, &:focus, &:active {
    -webkit-box-shadow: 0 14px 26px -12px rgba($color,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba($color,0.2);
    -moz-box-shadow: 0 14px 26px -12px rgba($color,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba($color,0.2);
    box-shadow: 0 14px 26px -12px rgba($color,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba($color,0.2);
  }
}

// Code for each social network
@mixin buttons-social-icon($network,$color) {
  .btn.btn-#{$network},
  .navbar .navbar-nav > li > a.btn.btn-#{$network} {
    &, &:hover, &:focus, &:active {
      color: #fff;
      background-color: $color;
    }
  }

  .btn.btn-#{$network},
  .navbar .navbar-nav > li > a.btn.btn-#{$network} {
    @include buttons-box-shadow($color);
  }

  .btn.btn-#{$network}.btn-simple,
  .navbar .navbar-nav > li > a.btn.btn-#{$network}.btn-simple {
    color: $color;
    background-color: transparent;
    @extend %buttons-box-shadow-none;
  }
}

// Forms
// Box shadow for each social network
@mixin forms-background-gradient($color) {
  background-image: -webkit-gradient(linear,left top, left bottom,from($color),to($color)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
  background-image: -webkit-linear-gradient($color,$color),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
  background-image: linear-gradient($color,$color),linear-gradient(#d2d2d2,#d2d2d2);
}


// Team section - Social Icons
@mixin footer-buttons-social-icon($network,$color) {
  .hestia-team .footer a[href*="#{$network}.com"],
  .team .footer a[href*="#{$network}.com"],
  .footer-menu a[href*="#{$network}.com"]{
    color: $color;
  }
}

@mixin team-border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//Footer - Social Icons
@mixin footer-menu-social-icons( $network, $color, $icon ){
  .footer-big .footer-menu li a[href*="#{$network}.com"]{
    color: transparent;
    font-size: 0;
    padding: 10px;

    &:before {
      content: $icon;
      font-family: 'FontAwesome';
      color: #3c4858;
      font-size: 16px;
    }

    &:hover:before {
      color: $color;
    }
  }

  .footer-black .footer-menu li a[href*="#{$network}.com"]{
    &:before {
      color: #fff;
    }
  }
}

// Top bar - Social Icons
@mixin top-bar-social-icons( $network, $color, $icon ){
  .hestia-top-bar li a[href*="#{$network}.com"]{
    font-size: 0;

    &:before {
      @extend %transition-all-3s-ease;
      content: $icon;
    }

    &:hover:before {
      color: $color;
    }
  }
}
